header {
	background-color: #f99;
	line-height: 2em;
}

header h1 {
	padding-top: 20px;
	background-color: #ddd;

}

#col1 {
	background-color: #66e066;
	max-width: 67%;
	float: left;
}

#col2 {
	background-color: #99f;
	max-width: 33%;
	float: left;
}



