/*Fonts*/
body {
	font-family: 'Alegreya Sans', sans-serif;
}
header {
	background: none;
}

.nav a {
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	padding: 10px 20px 10px;
	margin-right: 20px;
	font-size: 1.25em;
}

header h1 {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../img/measures.jpg");
	padding-bottom: 20px;
	text-align: center;
	font-size: 3em;
	margin: 0 auto 0;
	color: #ccc;
	text-shadow: 2px 2px #000;
	border-radius: 5%;
}

h2 {
	text-align: center;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 3em;
}

#col1 {
	background: #eee;
}

#col1 p, #col2 p {
	padding: 25px;

}

#col1 a {
	text-align: center;
}

#col2 {
	
}
